.container{
  display: flex;
  flex-direction: column;
  height: 20%;
}


.logos, .counts{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.logos{
  height: 75%;
}

.logo{
  height: 3rem;
}




