@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Open+Sans&family=Poppins:wght@200;400&family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap');

textarea:focus, input:focus{
    outline: none;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Quantico', sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: 'Nunito', sans-serif; */
}

*::-webkit-scrollbar{
    display: none;
}

.main-container{
    position: absolute;
    /* width: 100vw; */
    height: 100vh;
}

#root{
    background-color: #111;
}

.page{
    /* padding-top: 60px; */
}