@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Open+Sans&family=Poppins:wght@200;400&family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

textarea:focus, input:focus{
    outline: none;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Tomorrow', sans-serif;
}

*::-webkit-scrollbar{
    display: none;
}

.main-container{
    position: absolute;
    /* width: 100vw; */
    height: 100vh;
}

#root{
    /* background-color: #111; */
}

.page{
    /* padding-top: 60px; */
}

img{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::selection{
    background-color: #11111100;
    color: rgb(234 120 57);
}