.EventsPage{
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-image: url('../../assets/events-bg.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}
.EventContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}