#gallery{
    width: 100%;
    min-height: 90vh;
    margin: auto;
    overflow: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.gallery_container{
    /* min-height: 90vh; */
    width: 90%vw;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content:center  ;
    align-items: center;
}

.gallery_item_image{
    width: 20vw;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s;
    display: flex;
    justify-content: end;
    align-items: end;
}
.gallery_item_image:hover{
    background-position: center;
    /* zoom: 1.005; */
}
.MuiPagination-text button{
    color: #fff;
    /* background-color: grey; */
}
.fetching_images{
    width: 80%vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:500px){
    #gallery{
        padding-top: 100px;
        min-height: 10vh;
    }
    .gallery_item_image{
        height: 17vh;
        width: 48vw;
    }
}
