.Home {
    /* background-image: url("https://media.istockphoto.com/id/980240760/photo/stars-at-night.webp?b=1&s=170667a&w=0&k=20&c=vM0wIyL1XINCyCKrIYOj9sIaAB9FhYEINTmfDisqYhs="); */
    /* z-index: -2; */
    color: #eee;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

@keyframes floats {

    0%,
    100% {
        transform: translateY(20px) rotate(5deg);
    }

    50% {
        transform: translateY(-20px) rotate(0deg);
    }
}

.Home::before {
    content: '';
    position: absolute;
    top: 50px;
    right: 0;
    width: 30%;
    height: 80%;
    background-image: url("../../assets/home_astronaut.png");
    transform: scaleY(-1);
    background-size: cover;
    background-position: center;
    animation: floats 5s infinite;
}

.landing-heading {
    padding-left: 30px;
    padding-top: 80px;
    font-family: 'Mokoto', sans-serif !important;
    font-weight: 100;
    letter-spacing: 0.2rem;
    font-size: 72px;
    text-align: left;
    width: 80%;
}

.landing-paragraph {
    padding-left: 30px;
    text-align: left;
    font-size: 20px;
    width: 60%;
}

.button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-icon img path{
    /* width: 15px; */
    /* fill: royalblue; */
}

a {
    text-decoration: none; 
    color: inherit;
    outline: none;
}

.button-box {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-buttons a {
    width: 200px;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
}

.landing-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.find-more-button {
    border-radius: 4px;
    /* background: linear-gradient(to right, #67b26b, #4ca2cb); */

    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);

    color: #fff;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
}

.find-more-button span {
    position: relative;
    transition: 400ms;
}

.find-more-button span::after {
    content: '\00bb';
    position: absolute; 
    opacity: 0;
    top: -2px;
    right: -20px;
    transition: 500ms;
}

.find-more-button:hover span {
    padding-right: 25px;
}

.find-more-button:hover span::after {
    opacity: 1;
    right: 10px;
}
/**/
.contact-button {
    background: transparent;
    color: royalblue;
    border: 4px solid royalblue;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    transition: color 400ms;
}

.contact-button path {
    fill: royalblue;
}

.contact-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: royalblue;
    z-index: -1;
    transition: transform 400ms ease-out;
    transform: scaleX(0);
    transform-origin: left;
}

.contact-button:hover::before {
    transform: scaleX(1);
}

.contact-button:hover path {
    fill: white;
    transition: fill 400ms ease-in-out;
}

.contact-button:hover {
    color: #fff;
}

@media (max-width: 920px) {
    .home {
        height: 100vh;
    }

    .Home::before {
        display: none;
    }

    .landing-heading {
        font-size: 65px;
        width: 90%;
        text-align: center;
    }
    .landing-paragraph {
        font-size: 18px;
        width: 90%;
        text-align: center;
    }

    .landing-buttons {
        justify-content: center;
    }
}

@media (max-width: 600px) {

    .home {
        height: 100vh;
    }

    .Home::before {
        display: none;
    }

    .landing-heading {
        font-size: 50px;
    }

    .landing-paragraph {
        padding-top: 20px;
        font-size: 16px;
    }

    .landing-buttons {
        flex-direction: column;
        justify-content: flex-start;
    }
}
