@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap');
.Home{
    background-image: url('../../assets/home-bg.png');
    color: #eee;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: center;
    font-family: 'Quantico', sans-serif !important;

}
.landing-heading{
    padding-left: 30px;
    padding-top: 80px;
    font-size: 72px;
    text-align: left;
    /* width: 60vw; */
}
.landing-paragraph{
    padding-left: 30px;
    text-align: left;
    font-size: 20px;
    width: 60vw;
}