#navbar{
  height: 10vh;
  background-color: #08090C;
  /* background-color: #111444; */
  color: rgb(150,150,150);
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
  position: sticky;
  top:0;
  z-index: 1;
  /* padding: 0 20px 0 20px; */
  /* display: grid; */
}
.navbar-brand{
   display: flex;
}
.navbar-brand img{
   /* color: white; */
   width: 150px;
   margin: auto 30px;
}
#navbar_nav_items{
    /* align-self: center; */
    display: flex;
    gap: 20px;
    margin: 0 30px;

}
.navbar_link{
   font-family: "Roboto";
   font-size: 22px;
   text-transform: uppercase;
   cursor: pointer;
}
.navbar_link_active{
 color: white;
}

@media (max-width: 768px) {
   #navbar {
     height: auto;
     flex-direction: column;
     align-items: center;
     padding: 10px;
   }
 
   .navbar-brand {
     margin-bottom: 20px; 
   }
 
   .navbar-brand img {
     width: 120px; 
     margin: 0; 
   }
 
   #navbar_nav_items {
     margin: 0; 
     gap: 20px;
   }
 
   .navbar_link {
     font-size: 16px; 
   }
 }