
#blogs{
    background-color: black;
    width: 100vw;
    min-height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin: auto; */
}
