/* .navbar {
  background-color: transparent;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.navbar-brand{
  display: flex;
  align-items: center;
  padding: 10px;
}

.navbar-brand a {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  padding: 30px;
}
@media (max-width: 400px) {
  .navbar {
    flex-direction: column;
    align-items: left;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 0px;
    margin-left:0px;
    padding-left: 4px;
  }

  .navbar-links li {
    margin: 0px 0;

    margin-left: 0px ;
    padding-left: 0px;
  }
}

.navbar-links li {
  margin-right: 30px;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-size: 1.5rem;

}
.logo {
  height: 80px; 
  margin-right: 10px;
} */